@import "mixins";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Gamja Flower', cursive;
    background: $light-pink;
    color: $dark-pink;
    @include flexDisplay();
    header {
        @include flexDisplay();
        text-align: center;
        width: 75vw;
        margin-top: 5vh;
        h1 {
            font-size: 3em;
            font-weight: normal;
        }
        span {
            font-size: 1.5em;
        }
    }
    .gallery {
        @include flexDisplay();
        flex-direction: row;
        height: 75vh;
        margin: 2.5vh auto;
        @media (max-width: 400px) {
            flex-wrap: wrap;
        }
        .prev,
        .next {
            font-size: 3.5em;
            margin: auto 20px;
            &:hover {
                cursor: pointer;
                transform: scale(1.05);
            }
            @media (max-width: 600px) {
                font-size: 3.25em;
                margin: auto 15px;
            }
            @media (max-width: 550px) {
                font-size: 3em;
                margin: auto 10px;
            }
            @media (max-width: 420px) {
                font-size: 2.5em;
                margin: auto 5px;
            }
        }
        img {
            outline: none;
            width: 100%;
            min-width: 270px;
            max-height: 70vh;
            border-radius: 15px;
            margin: auto 2.5vw;
            &:active {
                outline: none;
                border: none;
            }
        }
    }
}